<h1>All stories</h1>

<% @stories.each do |story| %>
  <p><a href="<%= story_path(story.id)%>"><%= story.title %></a></p>
<% end %>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="stylesheets/components/card.scss">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <h1>Categories</h1>
      <div class="row">
        <div class="col">
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Fantasy
          </div>
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Fanfic
          </div>
        </div>

        <div class="col">
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Romance
          </div>
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Comedy
          </div>
        </div>

        <div class="col">
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Horror
          </div>

          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Adventure
          </div>
        </div>

        <div class="col">
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Thriller
          </div>

          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Historical
          </div>
        </div>

        <div class="col">
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Poetry
          </div>

          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Dystopian
          </div>
        </div>

        <div class="col">
          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Sci-Fi
          </div>

          <div class="card" style="background-image: url(https://picsum.photos/200)">
          Essay
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
