.addstory{

  border-color: rgb(0, 0, 0);

  padding: 20px;
  box-shadow: inset;
  margin-left: 0%;
  width: 1000px;
  height: 20px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 10px 10px 10px #2e302e;
}
.new {
 color: rgb(0, 0, 0);
 margin-left: 30%;
 font-weight: bold;
}
