.category-card-container {
  display: grid;
  justify-content:center;
  text-align:center;
  margin-bottom: 10px;
  flex-direction: column;
  grid-gap: 10px;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.category-container {
  display: grid;
  flex-direction:column;
  width: auto;
  // width: 1000px;
  margin: auto;
  text-align: center;
  background-color: white;
  color: black;
}


.h1-categories {
  font-size: 25px;
  justify-content: center;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 5px;
  justify-content:center;
  text-decoration: none;
  align-items: center;
  font-size: small;
}


.category-card {
  display: grid;
  color: white;
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 15px;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  background-color: black;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  background-size: cover;
}

.wrapper {
  position: absolute;
  top: 60%;
  right: 0;
}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}
