.home-banner {
  background-image: url("green_banner.webp");
  padding: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #FFFFFF;
  background-size: cover;
}

.home-container {
  margin: 15px;
  background-color: #F3F3F3;
}

.home-page-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.stories-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.story-card {
  width: 650px;
  height: 130px;
  padding: 10px;
  border: 2px solid #3A4D39;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
}

.home-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-card {
  width: 650px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 36px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
}

.categories-card-hp {
  width: 650px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
}

.categories-cards-hp {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  place-items: center;
}

.category-card-hp {
  color: #FFFFFF;
  background-color: #4F6F52;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 70px;
  height: 70px;
}

.genres-txt {
  color: #000000;
}

.create-button {
  color: #FFFFFF;
  background-color: #4F6F52;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.wic {
  padding: 10px;
  background-color: #D9D9D9;
}
