.home-banner {
  background-image: url("green_banner.webp");
  padding: 70px;
  padding-top: 180px;
  color: #FFFFFF;
  background-size: cover;
}

.container {
  margin: 15px;
  background-color: #F3F3F3;
}

.page-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.story-card {
  width: 650px;
  height: 130px;
  padding: 10px;
  border: 2px solid #3A4D39;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
}

.home-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-card {
  width: 650px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
}

.categories-card {
  width: 650px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
}
