
.home-container {
  margin:10px;
  background-color: #F3F3F3;
}

.home-page-content {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;

}

.search-wrapper {
  position: relative;
  align-self: flex-start;
  flex-direction: column;
  display:flex;
  justify-content: center;
  width: 600px;
  min-width: 200px;
  /* max-width: 600px; */
  border-radius: none;
  outline-color: #000;
  outline-width: 4px;
  padding-top: 20px;
  padding-left: 200px;
  margin-left: 20%;
}

.btn-search{
  margin-left: 10px;
  background-color: #000000;
  color: white;
  border-radius: 50px;
}

 .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(173, 165, 161, 0.25);
  border-color: $cloud;
}


.form-control {
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 20;
  background-color:$carrara;
  outline-color: $cloud;
  box-shadow: 0 0 5px rgba(195, 194, 194, 0.2);
}

@media(max-width: 992px) {
  .home-page-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}


.stories-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.story-card-hp {
  width: 100%;
  height: 135px;
  padding: 10px;
  border: 2px solid #070a07;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  display: flex;
  overflow: hidden;
  font-weight: bold;
}

.home-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-card {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 50px;
  margin-top: 36px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.categories-card-hp {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
}

@media(max-width: 992px) {
  .categories-card-hp {
    width: 100%;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #FFFFFF;
    text-decoration: none;
  }
}


.categories-cards-hp {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  place-items: center;
}

@media(max-width: 992px) {
  .categories-cards-hp {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
  }
}

.category-card-hp {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 85px;
  height: 85px;
  font-weight: bold;
  font-size: small;
}

.genres-txt {
  color: #000000;
  text-decoration: none;

}

.create-button {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
  font-size: large;

}

.wic {
  padding: 10px;
  background-color: #D9D9D9;
  width: 650px;
}

.image-card-hp {
  width: 110px;
  height: 110px;
  margin-right: 10px;
}

.story-info-hp {
  display: -webkit-box;
    max-width: 500px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  // width: 500px;
  // display: inline-block;
  // text-overflow: ellipsis;
  // white-space: wrap;
  // overflow: hidden;
}
