.all-container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.all-stories-idx {
  margin: auto;
}

.index-container {
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex;
  padding: 10;
  width: 95%;
  height:100%;
  background-color: white;
  padding: 20px;
}

.all-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10;
  width: 95%;
  height: 100px;;
  background-color: white;
}

.search-wrapper {
  position: relative;
  align-self: flex-start;
  display:flex;
  min-width: 200px;
  border-radius: none;
  outline-color: #000 ;
}

 .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(173, 165, 161, 0.25);
  border-color: $cloud;
}


.form-control {
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 20;
  background-color:$carrara;
  outline-color: $cloud;
  box-shadow: 0 0 5px rgba(195, 194, 194, 0.2);
}

/* .form-control:active {
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  outline-color: aquamarine;

} */

.btn {
  background-color: $cloud;
  outline-color: $cloud;
  border-color: $carrara;
}

.btn:hover {
  background-color: $carrara;
  outline-color: $carrara;
  border-color: $cloud;
}

.i {
  color: rgb(17, 16, 16);
  text-decoration: none;
  padding: 20px;
  display: flex;
 /*  border-color: black;
  border-style: solid; */
}

.story-index-info {
  margin: 2vw;
  display: flex;
  flex-direction: column;
}



.index-card {
 /*  display: flex; */
  width:1100px;
  height: 50%;
  margin: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
}



.index-card-image {
  display: flex;
  flex-direction:row;
  border-radius: 10%;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease;
  margin-top: 20px;

}

.synopsis {
  text-decoration: none;
  font-weight: lighter;
  font-size: xx-small;
  /* background-color: rgb(169, 166, 165); */
 /*  border-style: solid;
  border-color: rgba(0,0,0,0.2); */
}


.h4 {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  margin: 0;
  padding: 0;
  color: rgb(17, 16, 16);
}

/* .card-info {
  display: flex;
  font-weight:normal;
  text-align: right;
  margin: 0;
  padding: 10;
  border-style: solid;
  border-color: rgb(191, 194, 194);
  border-radius: 20px;
  box-shadow: 0 10px rgba(0,0.4,0.4,0.4);
  background-color: $carrara;
} */

.card-info {
  /* width: 650px; */
  /* height: 280px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
}


.categories-card-hp {
  width: 650px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  text-decoration: none;
}


.card-info:hover {
  color: white;
  background-color: $cloud;
  border-color: $carrara;
  /* width: 150%; */
  scale: 1.05;
  align-content: right;
  height: 300%;
  box-shadow: 0 0 50px rgba(0,0.4,0.4,0.4);
  transition: 0.5s ease;
  }

 .card-info:hover .i  {
    color: white;
    transition: 0.5s ease;
  }

  .card-info:hover .h3 {
    color: white;
    transition: 0.5s ease;
  }

  .card-info:hover .index-card-image {
    transform: scale(0.5);
    transition: 0.5s ease;
    border-style: solid;
    border-color: white;
    border-radius: 2px;

  }

  .h1 {
    text-align: center;
  }

.h3 {
  text-decoration-line: underline;
  color: rgb(17, 16, 16);
  font-weight: bold;
}

.a {
  text-decoration: none;
  color: rgb(17, 16, 16);
}
