.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand-center img {
  width: 60px;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  padding-top: 5px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cowrite {
  padding-top: 8px;
}

.navbar-brand-center {
  position: absolute;
  width: 100%;
  text-align: center;
}
