.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand-center img {
  width: 60px;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  padding-top: 5px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cowrite {
  padding-top: 8px;
  font-weight: bold;
}

.navbar-brand-center {
  position: absolute;
  margin-left: 47%;
  text-align: center;
}

.nav-item-un {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  padding-top: 8px;
}

.user-name {
  text-decoration: none;
  color: rgb(48, 48, 48);
}
