.picture{
  border-color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: inset;
  margin-left: 0%;
  width: 1200px;

  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 10px 10px 10px #141714;
}
