<h1>All <%= @category.genre %> stories !</h1>

<% @stories.each do |story| %>
  <p><a href="<%= story_path(story.id)%>"style="background-image: url(https://picsum.photos/200)">
  <%= story.title %></a></p>
<% end %>
